.ser {
  /* margin-top: 100px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.asd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px;
}

.search {
  padding: 10px;
}

.dash {
  background-color: #FEFFD2;
  height: 1500px;

}

.cardss {
  transition: 0;
  border-color: aqua;
}

.cardss:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 whitesmoke, 0 6px 20px 0 black;

}